video {
  width: 100%    !important;
  height: auto   !important;

}
actImage {
  width: 600px    !important;
  height: 600px   !important;

}
.bottemRight
{
    bottom:0;
}
.hide {
    display: none;
}
.wordwrap {
    white-space: pre-wrap; /* CSS3 */
    white-space: -moz-pre-wrap; /* Firefox */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* IE */
    width: 80px;
}
.hidden {
    visibility: hidden;
}
.visible {
    visibility: visible;
}

.actflexbox {
 display: flexbox;
    display: -webkit-flex; /* Safari */
    flex-direction: column;

    margin-right: 25px;
    margin-left: 25px;
     margin-top: 35px;
}
.actflexcolumn {
}
.actcolumn-one {

    order: 1;
    -webkit-flex: 1;  /* Safari 6.1+ */
    -ms-flex: 1;  /* IE 10 */    
    flex: 1;

}
.actcolumn-two {
    order: 2;
    -webkit-flex: 1;  /* Safari 6.1+ */
    -ms-flex: 1;  /* IE 10 */    
    flex: 1;
    text-align: right;
}
.videoflexbox {
 display: flexbox;
	display: -webkit-flex;
    flex-direction: column;
}
.videoflexcolumn {

    /*for demo purposes only */
    /*border: 1px solid #e6e6e6;*/

}
.videocolumn-one {

    order: 1;
    flex:1;
}
.videocolumn-two {
    order: 2;
    flex: 16px 1;
    text-align: right;
}
.flexbox {
 display: flexbox;
	display: -webkit-flex;

	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;

	align-items: center;
    background: rgba(255, 255, 255, 0.70);
    margin-right: 25px;
    margin-left: 25px;
    min-width: 750px;
}
.flexcolumn {

    /*for demo purposes only */
    /*border: 1px solid #e6e6e6;*/
    box-sizing: border-box;

}
.column-one {
        margin-left: 10px;
        
    order: 1;
    flex:1;
}
.column-two {
    flex:2;
    order: 2;
    text-align: center;
    font-family: "Calibri", sans-serif;
    font-size: x-large;
    color: black;

}
.column-three {
   margin-top: 10px;
   margin-bottom: 10px;

    order: 3;
        flex:1;

}