﻿.activityFont
{
    font-family: "Calibri", sans-serif;
    font-size: large;
    color: black;
}
input[type=number]{
    width: 120px;
} 
#simpleAnwser {
    position: absolute;
    left: 100px;
    top: 272px;
    width: 150px;

}
#fancyAnwser {
    position: absolute;
    left: 125px;
    top: 482px;
    width: 150px;
}
#simpleInput {
    position: absolute;
    left: 125px;
    top: 340px;
}
#pyramidInput1 {
    position: absolute;
    left: 165px;
    top: 340px;
}
#pyramidInput2 {
    position: absolute;
    left: 165px;
    top: 370px;
}
#pyramidInput3 {
    position: absolute;
    left: 165px;
    top: 400px;
}